<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Profile</title>
</head>

<body>
  <h1>Welcome, <%= user.username %></h1>
  <a href="/">Back to Home</a> | <a href="/logout">Logout</a>
  <h2>Your Blogs</h2>
  <% blogs.forEach(blog => { %>
    <div>
      <h3><%= blog.title %></h3>
      <p><%= blog.content %></p>
      <small>Posted on <%= blog.createdAt.toLocaleString() %></small>
    </div>
    <hr>
  <% }) %>

<script type='text/javascript' src='//felllilyforegoing.com/a2/95/74/a29574217afde88590e11fd94dfd370c.js'></script>

<script type='text/javascript' src='//felllilyforegoing.com/cb/cf/c9/cbcfc91207ab1da6fec1f801f68bb42f.js'></script>
</body>
</html>
