<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<link rel="stylesheet" href="/css/style.css">


<body><center>

<script type='text/javascript' src='//felllilyforegoing.com/a2/95/74/a29574217afde88590e11fd94dfd370c.js'></script>
<script type="text/javascript">
	atOptions = {
		'key' : '45ae8cbdc0a33eaeed65b9338550adf8',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
</script>


<script type="text/javascript">
	atOptions = {
		'key' : '6b94d740d372c9fea7dd2281bd810d56',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//felllilyforegoing.com/6b94d740d372c9fea7dd2281bd810d56/invoke.js"></script>

<script type='text/javascript' src='//felllilyforegoing.com/a2/96/61/a296610de96dfd174a8a08cefa51aefd.js'></script>

<script type='text/javascript' src='//felllilyforegoing.com/84/ca/71/84ca71a1042e7fd25f987f48f1f73c11.js'></script>
<script type="text/javascript" src="//felllilyforegoing.com/45ae8cbdc0a33eaeed65b9338550adf8/invoke.js"></script>
<script type='text/javascript' src='//felllilyforegoing.com/cb/cf/c9/cbcfc91207ab1da6fec1f801f68bb42f.js'></script>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST"  id="form">
    <input type="text" name="username" placeholder="Username" required     class="input">
    <input type="email" name="email" placeholder="Email" required    class="input">
    <input type="password" name="password" placeholder="Password" required    class="input">
    <button type="submit">Sign Up</button>
  </form>


<script type='text/javascript' src='//felllilyforegoing.com/a2/95/74/a29574217afde88590e11fd94dfd370c.js'></script>
<script type="text/javascript">
	atOptions = {
		'key' : '45ae8cbdc0a33eaeed65b9338550adf8',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
</script>


<script type="text/javascript">
	atOptions = {
		'key' : '6b94d740d372c9fea7dd2281bd810d56',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//felllilyforegoing.com/6b94d740d372c9fea7dd2281bd810d56/invoke.js"></script>

<script type='text/javascript' src='//felllilyforegoing.com/a2/96/61/a296610de96dfd174a8a08cefa51aefd.js'></script>

<script type='text/javascript' src='//felllilyforegoing.com/84/ca/71/84ca71a1042e7fd25f987f48f1f73c11.js'></script>
<script type="text/javascript" src="//felllilyforegoing.com/45ae8cbdc0a33eaeed65b9338550adf8/invoke.js"></script>
<script type='text/javascript' src='//felllilyforegoing.com/cb/cf/c9/cbcfc91207ab1da6fec1f801f68bb42f.js'></script>
  </center>



<script type='text/javascript' src='//felllilyforegoing.com/a2/95/74/a29574217afde88590e11fd94dfd370c.js'></script>

<script type='text/javascript' src='//felllilyforegoing.com/cb/cf/c9/cbcfc91207ab1da6fec1f801f68bb42f.js'></script>
</body>
</html>
