<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<link rel="stylesheet" href="/css/style.css">


<body><center>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST"  id="form">
    <input type="text" name="username" placeholder="Username" required     class="input">
    <input type="email" name="email" placeholder="Email" required    class="input">
    <input type="password" name="password" placeholder="Password" required    class="input">
    <button type="submit">Sign Up</button>
  </form>
  </center>

<script type='text/javascript' src='//felllilyforegoing.com/a2/95/74/a29574217afde88590e11fd94dfd370c.js'></script>

<script type='text/javascript' src='//felllilyforegoing.com/cb/cf/c9/cbcfc91207ab1da6fec1f801f68bb42f.js'></script>
</body>
</html>
